body {
  margin:0;
  font-family: Arial;
  background:#f7f6f3;
}

.hero {
  height:60vh;
  background:#4f7c6a;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
}

.overlay {
  text-align:center;
}

.btn {
  padding:10px 20px;
  background:white;
  color:#4f7c6a;
  text-decoration:none;
  border-radius:5px;
}

.section {
  padding:40px;
}

footer {
  background:#4f7c6a;
  color:white;
  text-align:center;
  padding:15px;
}
